mixin image(path, className)
  img(src=require(`images/content/${path}.png`) class=className)

mixin menu(className)
  - var menu = [{menu:'Главная', link: 'welcome'} , {menu:'Обо мне', link: 'about'} , {menu:'Навыки', link: 'knowledge'} , {menu:'Работы', link: 'projects'}, {menu:'Отзывы', link: 'contacts'} ,{menu:'Связаться', link: 'contacts'}]; 
    nav(class=`nav nav__${className}`)
      ul(class=`nav__list nav__list--${className}`)
        each item in menu  
          li(class=`nav__item nav__item--${className}`) 
            a(href=`#${item.link}` class=`nav__link`) #{item.menu} 
        
mixin icon(name, className)
  - var icon = require(`images/icons/${name}.svg`);
    svg(class=`${className}__svg` viewBox=icon.viewBox preserveAspectRatio="none")
      use(xlink:href=icon.url class=`${className}__icon`)

mixin social(className)
  - var social = ["instagram", "vk", "github"];
    ul(class=`social social__${className}`)
      each item in social
        li(class=`social__item social__item--${className}`)
          a(href=`https://${item}.com/` class=`social__link`)
            +icon(item, 'social')

mixin me(className)
  div(class=`my my__${className}`) 
    div(class=`my__job my__job--${className}`)
      p Личный сайт веб разработчика
    div(class=`my__name my__name--${className}`) 
      p Севара Рахманова

mixin presentation(className)
  - var presentation = ["slide1", "slide2", "slide3", "slide4","slide5"];
    ul(class=`${className}__list`)
      each item in presentation
        li(class=`${className}__item`)
          +image(item , 'slide')

mixin comments(className)
  script(type='text/x-template')#comments
    flickity(ref='flickity' :options='flikityOptions').flickity
      div(v-for='review in contacts')
        +icon('quote' , 'quote')
        p.comments__text {{review.text}}
        .comments__person
          img(:src="review.icon", alt="")
          .comments__person-info
            .comments__person-name {{review.name}}
            .comments__person-job {{review.job}} 
