mixin image(path, className)
  img(src=require(`images/${path}.png`) class=className)

//- mixin menu(className)
//-   - var menu = ["Главная", "Обо мне", "Навыки", "Работы", "Отзывы", "Связаться"];
//-     nav(class=`${className} ${className}__footer`)
//-       ul(class=`${className}__list`)
//-         each item in items 
//-           li(class=`${className}__item`)
//-             a(href="#" class=`${className}__link`) #{item}

//- mixin social(icon, className)
//-   - var social = ["insta", "vk", "github"];
//-       ul(class=`${className} ${className}__footer`)
//-           each item in social
//-               li(class=`${className}__item`)
//-                   svg(class=`${className}__image`)
//-                     use(xlink:href="./images/sprite.svg#{icon}" alt="" class=`${className}__icon`)
//-                   a(href="#" class=`${className}__link`)

//- mixin me(className)
//-   div(class=`${className},${className}__footer`) 
//-     div(class=`${className}__job`)
//-         p Личный сайт <br/> веб разработчика
//-     div(class=`${className}__name`) Севара Рахманова
              
//- mixin presentation(name , className)
//-   img(src=require(`images/${name}.png`) class=className)
