include ./templates/mixins.pug

<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Portfolio | main page
  body
    .wrapper
      .wellcome-section
        .container
          section.wellcome
            include ./templates/blocks/header.pug
            include ./templates/blocks/maincontent.pug
          include ./templates/blocks/aboutme.pug     

      section.service
        .triangle
          .container
            .service__desc
              h2.service__title Чем я могу быть полезен вам
              p Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нём свой контент. А пока посмотрите, как тут всё классно и красиво!

            ul.skills
              - 
                var skills = [
                  ['Front-end', ['html5', 'css3', 'javascript', 'JQuery и Vue.js']],
                  ['Workflow', ['Git', 'terminal', 'gulp', 'webpack']],
                ]
              each item in skills 
                li.skills-row
                  h4.skills-row__title #{item[0]}
                  ul.skills-row__list
                    each skill in item[1]
                      li.skills-row__item
                        .skill
                          svg(viewbox="0 0 200 200")
                            circle(r="80" cx="100" cy="100" fill="none" stroke-width="12" stroke="#ccc")
                            circle(r="80" cx="100" cy="100" fill="none" stroke-width="12" stroke="orangered" stroke-linecap="round" stroke-dasharray="226 502.4" stroke-dashoffset="-45")
                          .skill__title #{skill}    

      section.works
        .container
          h2.works__title Мои работы
          .works__left
            .slider
              .slider__main
                +image('content/1.jpg', 'slider__pic')
                .slider__preview
                  ul.previews
                  - for (var i = 2; i < 6; i++)
                    li.previews__item
                      +image(`content/${i}.jpg`, 'previews__pic')
              .slider__control
                button.slider__button.slider__button--prev
                button.slider__button.slider__button--next
          .works__right  
            .works__tags
            - var tags = ['HTML', 'CSS', 'Javascript']
            each tag in tags
              ul.tags
                li.tags__item #{tag}
          .works__text
            h3.works__title Сайт школы образования
            .works__desc-text
              p Этот парень проходил обучение веб-разработке не где-то, а в LoftSchool! 2 месяца только самых тяжелых испытаний и бессонных ночей!
            a.iconed-link
              +icon('link', 'iconed-link__icon')
              .iconed-link__text Посмотреть сайт

      section.feedbacks
      .triangles
        .container
          .feedbacks__header
            h2.title Что обо мне говорят
            .feedbacks__control
              button.feedbacks__button.feedbacks__button--prev
              button.feedbacks__button.feedbacks__button--next
          .feedbacks-slider
            ul.feedbacks-slider__list
            -
              var feedbacks = [
                  {
                    "name": "Ковальчук Дмитрий",
                    "occupation": "Основатель Loftschool",
                    "feedback": "Этот парень проходил обучение веб-разработке не где-то, а в LoftSchool! 4,5 месяца только самых тяжелых испытаний и бессонных ночей!",
                    "picture": "dmitry.jpg"
                  },
                  {
                    "name": "Владимир Сабанцев",
                    "occupation": "Преподаватель",
                    "feedback": "Этот код выдержит любые испытания. Только пожалуйста, не загружайте сайт на слишком старых браузерах",
                    "picture": "vladimir.jpg"
                  }
              ]

            each feedback in feedbacks
              li.feedbacks-slider__item
                .feedback
                  .feedback__desc #{feedback.feedback}
                  .feedback__user
                    .user
                      +image(`content/${feedback.picture}`, 'user__pic')
                      .user__details
                        .user__name #{feedback.name}
                        .user__job #{feedback.occupation}

      section.contact
        .container
          form.form
            .form__row
              .form__element
                +icon('user', 'form__user-pic')
                label.form_label Введите ваше имя
                  input(type='text').form__input
                .form__element
                +icon('envelope', 'form__user-mail')
                label.form_label Введите ваш email
                  input(type='mail').form__input
            .form__row
              .form__element
                +icon('quote', 'form__user-message')
                label.form_label Сообщение к письму
                  textarea(rows='2').form__input
            button(type='submit').button отправить

      footer.footer
        .container
          .copyrigt 2019
          .owner
            .owner__desc Личный сайт веб разработчика
            .owner__title Алексей Лещенко
          .footer__right
            include ./templates/blocks/nav.pug
            .footer__bottom
              .footer__desc
                .footer__desc-text Этот сайт я сделал в рамках обучения в Школе онлайн образования Loftschool
                include ./templates/blocks/socials.pug
              .footer__quote
                .quote
                  .qoute__text Всегда пишите код так, будто сопровождать его будет склонный к насилию психопат, который знает где вы живете
                  .quote__author Martin Golding
    
        //- +image('content/user.jpg', 'user-pic')
        //- +icon('link', 'link-class')
        //- .icon-bg